/node_modules
/vendor
/resources/vendor
/public/build/**/**
/public/css
/public/images
/public/js
/public/fonts
/public/uploads
/public/upload-images
/public/rev-manifest.json
Homestead.yaml
Homestead.json
.env
.idea
.phpstorm.meta.php
_ide_helper.php
npm-debug.log