@import "../../vendor/bootstrap/bootstrap/bootstrap.less";
@import "bootstrap-helpers";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,400italic,100italic,700,700italic&subset=latin,latin-ext);

@import "templates/loading";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #333131;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}

.container {
  height: 100%;

  text-align: center;
}

.content {
  height: 100%;
}
